body {
    margin: 0 auto;
    /* background: rgb(165, 165, 165); */
    background: radial-gradient(circle, rgb(165, 165, 165), transparent);
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 5vh;
    text-align: center;
    color: rgb(73, 119, 119);
    margin: 10px;
}

#game-field {
    background: none;
    width: 54vh;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40vh;
    margin-left: -28vh;
    padding: 1vh;
    border-radius: 2vh;
}

.cards {
    /* background-size: cover; */
    width: 11vh;
    height: 15vh;
    border: 0.25vh solid white;
    margin: 1vh;
    border-radius: 2vh;
    background: white;
    cursor: pointer;
    transition: 0.4s;

    transform: rotateY(180deg);
}

.cards:hover {
    transition: 0.4s;
}

.active {
    transform: rotateY(0deg);
    background-size: cover;
    background-position: center;
}

#info-jogadas {
    color: rgb(73, 119, 119);
    font-family: 'Lobster', cursive;
    font-size: 2.8vh;
    position: absolute;
    left: 50%;
    top: 80%;
    margin-left: -12vh;
}

#vezDoJogador {
    color: rgb(73, 119, 119);
    font-family: 'Lobster', cursive;
    font-size: 2.8vh;
    position: absolute;
    left: 50%;
    top: 83.75%;
    margin-left: -12vh;
}

#reload {
    font-size: 4vh;
    position: absolute;
    bottom: 3vh;
    left: 50%;
    margin-left: -2vh;
    cursor: pointer;
    color: rgb(73, 119, 119);
}